body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
}

header .header_container {
    width: 80%;
    margin: 0 auto;
    height: inherit;
}

header {
    background: #424A45;
    height: 10vh;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    margin-left: 120px;
    height: inherit;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    position: relative;
    height: inherit;
}

nav a {
    color: white;
    text-decoration: none;
}

ul li a .icon {
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 8px 0;

}

ul li a .icon .fas {
    color: #91CB3E;
    font-size: 1.5em;
}

nav a:hover {
    color: #91CB3E;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: #91CB3E;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

main {
    height: 85vh;
}

aside {
    float: left;
    width: 20%;
    height: 90vh;
}

aside .title {
    color: #424A45;
    font-weight: 600;
    margin-left: 55px;
    height: 10px;
    margin-top: 0.5vh;
    padding-bottom: 1vh;
}

#material_title{
    padding-top: 1.5vh;
}

.search_container {
    background-color: #91CB3E;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.distance_container {
    background-color: white;
    height: 12%;
}

#distance {
    font-size: 12px;
    text-align: center;
}

.filter_container {
    height: 58%;
    overflow:hidden;
    overflow-y:scroll;
}

#filter_button_container {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter_button {
    height: 30px;
    width: 200px;
    border-radius: 25px;
    background-color: #91CB3E;
    font-size: 1em;
    color: white;
    font-weight: 400;
    border: #424A45;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 5px 6px 15px darkgrey;
    line-height: 1em;
    text-align: center;
}

#mapview {
    float: right;
    width: 80%;
    height: 90vh;
}


.icon_name {
    font-size: 1.8vh;
    margin-top: -5px;
    text-align: center;
}

#searchfield {
    height: 30px;
    width: 200px;
    display: flex;
}

#search_button {
    width: 50px;
}

.slider_container {
    width: 100%;
    height: 20px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    background: #424A45;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 200ms;
    transition: opacity 200ms;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #91CB3E;
    cursor: pointer;
}

#filter_ul {
    list-style: none;
    font-size: 15px;
}

/*CUSTOM CHECKBOXES*/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #424A45;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #91CB3E;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}