body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
}

main {
    height: 100vh;

}

aside {
    float: left;
    width: 23%;
    height: 100vh;
}

/*--------------------------------------------MAP---------------------------------------------------------------------*/

#mapview {
    width: 77%;
    height: 100vh;
    float: right;
    display: flex;
    align-items: center;
}

/*--------------------------------------------MENU BUTTONS------------------------------------------------------------*/

.buttons_div {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_buttons {
    display: block;
    width: 100%;
    height: 100%;
    float: top;
    text-align: center;
    border: 1px solid #424A45;
    outline: none;
    color: white;
    background-color: lightgray;
    font-size: 16px;
    cursor: pointer;
}

.main_buttons:hover {
    background-color: gray;
}

.main_buttonsClicked {
    background-color: #91CB3E !important;
}

/*-------------------------------------------SEARCH CONTAINER---------------------------------------------------------*/

#search_container {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchfield {
    position: relative;
    width: 75%;
    height: 30px;
}

#input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0.1em solid #424A45;
    border-radius: 25px;
    outline: none;
    box-shadow: 3px 4px 15px darkgrey;
}

#search_button {
    position: absolute;
    height: 40px;
    top: 2px;
    right: 15px;
    z-index: 2;
    border: none;
    outline: none;
    color: #424A45;
    background-color: transparent;
    cursor: pointer;
}

#search_button i {
    font-size: 20px;
}

#search_button i:hover {
    color: #91CB3E;
}

/*---------------------------------------------DISTANCE CONTAINER-----------------------------------------------------*/

#distance_container {
    background-color: white;
    height: 12%;
    display: none;
    flex-direction: column;
}

.slider_container {
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 4em;
    padding-top: 10px;
}

.slider {
    width: 80%;
    height: 5px;
    background: #424A45;
    outline: none;
    opacity: 0.8;
    -webkit-appearance: none;
    -webkit-transition: 200ms;
    transition: opacity 200ms;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #91CB3E;
    cursor: pointer;
}

#distance {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}

/*----------------------------------------------FILTER CONTAINER------------------------------------------------------*/

.filter_container {
    height: 64%;
    color: #424A45;
}

#material_title {
    text-align: center;
    height: 10px;
    margin-top: 0;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
    font-size: 18px;
    font-weight: 700;
    color: #424A45;
}

#filter {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

#filter_ul {
    list-style: none;
    font-size: 15px;
}

#filter_button_container {
    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter_button {
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: white;
    background-color: #424A45;
    border: #424A45;
    border-radius: 25px;
    box-shadow: 5px 6px 15px darkgrey;
    outline: none;
    display: none;
}

#filter_button:hover {
    background-color: #91CB3E;
}

/*------------------------------------------CUSTOM CHECKBOXES---------------------------------------------------------*/

#check_all_label {
    font-weight: 700;
    padding-bottom: 1vh;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: lightgray;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #424A45;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #91CB3E;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--------------------------------------------CUSTOM ICONS------------------------------------------------------------*/

.custom_cluster_large {
    background-color: #cb2a15;
    border: 5px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 5em;
}

.custom_cluster_medium {
    background-color: #cb9320;
    border: 5px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 3.5em;
}

.custom_cluster_small {
    background-color: #91CB3E;
    border: 5px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 2em;
}

.user_marker {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    border: 7px solid #3c69cb;
    width: 7px;
    height: 7px;
}

.user_marker::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -30px;
    left: -4px;
    border: 10px solid transparent;
    border-top: 17px solid #3c69cb;
}

#userPopUp {
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: #424A45;
}

.pin_marker {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    background-color: #424A45;
    border: 7px solid transparent;
    width: 7px;
    height: 7px;
}

.pin_marker::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -30px;
    left: -4px;
    border: 10px solid transparent;
    border-top: 17px solid #424A45;
}

.pin_marker i {
    color: #91CB3E;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 999;
    margin-left: 450px;

}

.loader div {
    position: absolute;
    border: 6px solid #000000;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 144px;
        height: 144px;
        opacity: 0;
    }
}

/*-----------------------------------------------POPUP INFO-----------------------------------------------------------*/

.popup_info {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    color: #424A45;
}

.material_list {
    padding-left: 0;
}

.material_list_item i {
    color: #91CB3E;
}

@media screen and (max-width: 1023px)  {
    #mapview {
        width: 100%;
        height: 80%;
    }

    aside {
        width: 100%;
    }

    .loader {
        margin-left: 40%;
    }

    .filter_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

    #filter {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px){
    aside{
        width: 30%;
    }
    #mapview{
        width: 70%;
    }

    .container {
        font-size: 20px;
    }
    #material_title {
        font-size: 26px;
        padding-bottom: 20px;
    }

    #distance_container {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #searchfield {
     width: 35%;
    }
    .container {
        font-size: 20px;
    }
    #material_title {
        font-size: 26px;
        padding-bottom: 20px;
    }
    .slider {
        width: 50%;
    }

    .slider_container {
        padding-top: 30px;
    }

}


